<!-- Add New Service Type Code Modal -->
<div aria-hidden="true" aria-labelledby="addServiceType" class="modal fade" id="addServiceTypeCode" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="addServiceTypeTitle">Add New Service Type Code</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="newServiceTypeCode">Service Type Code</label>
                        <div class="col-8">
                            <input class="form-control" id="newServiceTypeCode" type="number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="newCodeDescription">Code Description</label>
                        <div class="col-8">
                            <textarea class="form-control" id="newCodeDescription" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">Cancel</button> <button class="btn btn-primary float-right" type="button">Add New Service Type Code</button>
                </div>
            </div>
        </div>
    </div>
</div>