  <!-- Delete Modal -->
<div aria-hidden="true" aria-labelledby="deleteInsurance" class="modal fade" id="deleteServiceTypeCode" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Delete Service Type Code</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete # - [Service Type Code] from the list of service type codes?
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">Cancel</button> <button class="btn btn-primary float-right" type="button">Delete Service Type Code</button>
                </div>
            </div>
        </div>
    </div>
</div>