  <!-- Edit service type code Modal -->
<div aria-hidden="true" aria-labelledby="editServiceType" class="modal fade" id="editServiceTypeCode" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="editServiceTypeTitle">Edit Service Type Code</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="editServiceTypeCode">Service Type Code</label>
                        <div class="col-8">
                            <input class="form-control" id="editServiceTypeCode" type="number" value="11">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="editServiceCodeDescription">Code Description</label>
                        <div class="col-8">
                            <textarea class="form-control" id="editServiceCodeDescription" rows="3">Used durable medical equipment</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button class="btn btn-outline-primary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary float-right" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>