@using LogixHealth.Eligibility
@{
    ViewData["Title"] = "ServiceTypeCodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData[CrossActionKeys.Tabs] = MenuConstants.Setup;
    ViewData[CrossActionKeys.SubTabs] = SubMenuConstants.ServiceTypeCodes;
}

<!-- Table Navigation -->
@await Html.PartialAsync("~/Views/ServiceTypeCode/_SubTabValidations.cshtml")

<!--sub-tab action at Setup-->
@await Html.PartialAsync("~/Views/ServiceTypeCode/_SubTabServiceTypeCodeActions.cshtml")

<!-- Service Type Codes Table -->

<div>
    <div class="row">
        <div class="col-12">
            <table class="table" id="serviceTypeCodeTable" style="width:100%">
                <thead class="thead-dark">
                    <tr>

                        <th class="text-nowrap">SERVICE TYPE CODE</th>
                        <th class="text-nowrap">CODE DESCRIPTION</th>
                        <th class="text-nowrap">DATE CREATED</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody class="tbody-dark">
                    <tr id="">
                        <td>1</td>
                        <td>Medical Care</td>
                        <td>08/08/1988</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditService(3);" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails('AAA*N**56*H','Frederic Thao');" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteService(3);" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="">
                        <td>2</td>
                        <td>Blood Charges</td>
                        <td>08/08/1998</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditValidation();" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails()" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteValidation();" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="">
                        <td>3</td>
                        <td>Used durable medical equipment</td>
                        <td>08/08/1978</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditValidation();" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails()" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteValidation();" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="">
                        <td>4</td>
                        <td>Durable medical equipment purchase</td>
                        <td>08/08/1948</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditValidation();" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails()" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteValidation();" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="">
                        <td>5</td>
                        <td>Ambulatory service center facility</td>
                        <td>08/08/1928</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditValidation();" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails()" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteValidation();" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr id="">
                        <td>6</td>
                        <td>Renal supplies in the home</td>
                        <td>08/08/1918</td>
                        <td>
                            <div class="dropdown show">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-link" data-toggle="dropdown" href="#" role="button"><span class="icn actions" aria-hidden="true"></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" onclick="OpenEditValidation();" href="#">Edit</a>
                                    <a class="dropdown-item" onclick="OpenAuditTrails()" href="#">View Audit Trail</a>
                                    <a class="dropdown-item" onclick="DeleteValidation();" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" id="highlightAddress" data-value="@ViewBag.responseData" />
    <input type="hidden" id="notificationAddress" data-value="@ViewBag.Message" />
    <input type="hidden" id="notificationAddressError" data-value="@ViewBag.MessageError" />
</div>

@await Html.PartialAsync("~/Views/ServiceTypeCode/_AddServiceTypeCode.cshtml")

<div id="PreviewEditServiceTypeCode">
</div>
<div id="PreviewAuditTrails"></div>
<div id="PreviewDeleteServiceTypeCode"></div>


@*
section Scripts {
    @*<script type="text/javascript" src="~/assets/js/setup/validation-code.js"></script>
        <script src="~/assets/js/audittrail/audit-trail.js"></script>
    <script src="~/assets/js/audittrail/audit-trail.js"></script>
    <script src="~/assets/js/setup/service-type-code.js"></script>
    <script src="~/assets/js/jquery.table2excel.min.js"></script>

}
*@