@model IEnumerable<LogixHealth.Eligibility.Models.ViewModels.AuditTrailViewModel>
@{ 
    var item = Model;
}

<table class="table dt-responsive" id="audit" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th class="text-nowrap">Date</th>
            <th class="text-nowrap">Time</th>
            <th class="text-nowrap">Action</th>
            <th class="text-nowrap">Changed From</th>
            <th class="text-nowrap">Changed To</th>
            <th class="text-nowrap">Users</th>
        </tr>
    </thead>
    <tbody class="tbody-dark">
      
    </tbody>
</table>