@*@model LogixHealth.Eligibility.Models.ViewModels.MdRequestValidationViewModel*@

<div aria-hidden="true" aria-labelledby="addValidationCode" class="modal fade" id="addValidationCode" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="addServiceTypeTitle">Add New Validation Code</h5><button aria-label="Close" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <form id="submitValidationCodeForm" asp-action="ValidationCodes" asp-controller="ValidationCode" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="serviceTypeCode">Validation Code (*)</label>
                        <div class="col-8">
                            <input class="form-control validation-code-value" id="serviceTypeCode" name="ValidationCode" required type="text" maxlength="13"  oninvalid="this.setCustomValidity('Please enter a validation code.')" oninput="setCustomValidity('')">
                            <span class="validation-notification"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="addCodeDescription">Code Description (*)</label>
                        <div class="col-8">
                            <textarea class="form-control" id="addCodeDescription" rows="3" required name="Description" oninvalid="this.setCustomValidity('Please enter a code description.')" oninput="setCustomValidity('')"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Filter from Self-Pay</label>
                        <div class="col-sm-8 mt-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input checked class="custom-control-input" id="selfPayRadio1" value="true" name="IsSelfPay" type="radio"> <label class="custom-control-label" for="selfPayRadio1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" id="selfPayRadio2" value="false" name="IsSelfPay" type="radio"> <label class="custom-control-label" for="selfPayRadio2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Filter from Insurance</label>
                        <div class="col-sm-8 mt-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input checked class="custom-control-input" id="insuranceRadio1" value="true" name="IsInsurance" type="radio"> <label class="custom-control-label" for="insuranceRadio1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" id="insuranceRadio2" value="false" name="IsInsurance" type="radio"> <label class="custom-control-label" for="insuranceRadio2">No</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <button class="btn btn-outline-primary" data-dismiss="modal" type="button">Cancel</button> <button class="btn btn-primary float-right" onclick="return submitValidationCode()">Add New Validation Code</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>