<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <label class="icon-label">
                <svg class="icon icon-sm icon-input icon-search">
                    <use xlink:href="#icon-search"></use>
                </svg> <input class="form-control" id="searchValidationTable" placeholder="Search" type="text">
            </label>
            <!-- Table Filter -->
            <div class="btn-group">
                <button class="btn btn-gray-med lh-0 mx-1" data-toggle="dropdown" type="button"><svg class="icon icon-filter"><use xlink:href="#icon-filter"></use></svg></button>
                <div class="dropdown-menu dropdown-menu-right no-close">
                    <div id="accordion">
                        <div class="card border-0">
                            <div class="card-header bg-white p-2" id="headingOne">
                                <a data-toggle="collapse" data-target="#collapseOne" class="text-dark filter-toggle d-block" href="javascript:void(0)" aria-expanded="true" aria-controls="collapseOne">Filter options X</a>
                            </div>
                            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                                <div class="card-body border-bottom">
                                    <div class="custom-control custom-checkbox">
                                        <input checked class="custom-control-input" id="filterXoptA" type="checkbox">
                                        <label class="custom-control-label" for="filterXoptA">Filter A</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="filterXoptB" type="checkbox">
                                        <label class="custom-control-label mb-0" for="filterXoptB">Filter B</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header bg-white p-2" id="headingTwo">
                                <a data-toggle="collapse" data-target="#collapseTwo" class="text-dark filter-toggle d-block collapsed" href="javascript:void(0)" aria-expanded="true" aria-controls="collapseTwo">Filter options Y</a>
                            </div>
                            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                                <div class="card-body border-bottom">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="filterYoptA" type="checkbox">
                                        <label class="custom-control-label" for="filterYoptA">Filter A</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="filterYoptB" type="checkbox">
                                        <label class="custom-control-label mb-0" for="filterYoptB">Filter B</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header bg-white p-2" id="headingThree">
                                <a data-toggle="collapse" data-target="#collapseThree" class="text-dark filter-toggle d-block collapsed" href="javascript:void(0)" aria-expanded="true" aria-controls="collapseThree">Filter options Z</a>
                            </div>
                            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="filterZoptA" type="checkbox">
                                        <label class="custom-control-label" for="filterZoptA">Filter A</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="filterZoptB" type="checkbox">
                                        <label class="custom-control-label mb-0" for="filterZoptB">Filter B</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column Picker -->
            <div class="btn-group">
                <button class="btn btn-gray-med lh-0" data-toggle="dropdown" type="button"><svg class="icon icon-column-picker"><use xlink:href="#icon-column-picker"></use></svg></button>
                <div class="dropdown-menu dropdown-menu-right no-close p-2">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="1" id="validationTypeCodeCol" type="checkbox" disabled>
                        <label class="custom-control-label text-nowrap" for="validationTypeCodeCol">Validation Code</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="2" id="codeDescriptionCol" type="checkbox" checked>
                        <label class="custom-control-label" for="codeDescriptionCol">Code Description</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="3" id="showSelfCol" type="checkbox" checked>
                        <label class="custom-control-label" for="showSelfCol">Show Self-Pay</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="4" id="insuranceCol" type="checkbox" checked>
                        <label class="custom-control-label" for="insuranceCol">Show Insurance</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="5" id="dateCol" type="checkbox" checked>
                        <label class="custom-control-label" for="dateCol">Date Created</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input toggle-vis" data-column="6" id="actionsCol" type="checkbox" disabled>
                        <label class="custom-control-label" for="actionsCol">Actions</label>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="setDefaultCol" type="checkbox">
                        <label class="custom-control-label" for="setDefaultCol">Set as Default</label>
                    </div>
                    <button class="btn btn-block btn-primary" type="button">Apply</button>
                </div>
            </div>
            <button class="btn btn-gray-med ml-1 lh-0" onclick="ExportValidationCodeList()"><svg class="icon icon-export"><use xlink:href="#icon-export"></use></svg></button>
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-outline-primary btn-block-sm float-right" data-target="#addValidationCode" data-toggle="modal">Add New Validation Code</button>
    </div>
</div>

