<!-- Footer -->
<footer class="footer">
    <div class="container-fluid px-lg-5">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12 col-lg-auto">
                Copyright &copy; <span id="current-year"></span> LogixHealth. All Rights Reserved.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-auto mr-auto">
                <a class="has-tip" data-placement="top" data-toggle="tooltip" title="Version Number 3389">Version</a> | <a data-target="#termsModal" data-toggle="modal" class="text-dark" href="#">Terms of Use</a> | Contact Us
            </div>
            <div class="col-sm-12 col-md-12 col-lg-auto">
                Powered by <a href="https://www.logixhealth.com/" target="_blank"><svg class="icon icon-md icon-LogixHealth"><use xlink:href="#icon-LogixHealth"></use></svg></a>
            </div>
        </div>
    </div>
</footer>