  <!-- Secondary Navigation -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" id="menuSubmissionTracker">
                Submission Tracker
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="setup-client.html">270 Reconciliation</a>
                <a class="dropdown-item" href="#">Non-Reconciled 271 Files</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" id="menuFileCreation">
                File Cabinet
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="file-cabinet.html">All Files</a>
                <a class="dropdown-item" href="#">270</a>
                <a class="dropdown-item" href="#">271</a>
                <a class="dropdown-item" href="#">TA1</a>
                <a class="dropdown-item" href="#">999</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase" href="file-creation.html">File Creation</a>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" id="menuSetup">
                Setup
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="270-271-field-values.html">270/271 Field Values</a>
                <a class="dropdown-item" href="payer-configuration.html">Payer Configuration</a>
                <a class="dropdown-item" href="setup-client.html">Client</a>
                <a class="dropdown-item" href="service-type-codes.html">Service Type Codes</a>
                <a class="dropdown-item" href="validation-codes.html">Validation Codes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="#" id="menuSetup">
                Admin
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="roles.html">Roles</a>
                <a class="dropdown-item" href="users.html">Users</a>
                <a class="dropdown-item" href="master-audit-trail.html">Master Audit Trail</a>
                <a class="dropdown-item" href="notification-manager.html">Notifications Manager</a>
            </div>
        </li>
    </ul>
</nav> <!-- End Secondary Navigation -->